@(taskList: List[Task], taskForm: Form[Task])
@import helper._

@common("今もってるタスク") {
    <h1>タスク一覧</h1>


<h2>Add a new task</h2>

    @form(routes.Application.createTask()) {
        @inputText(taskForm("name"), '_label -> "タスク名")

        @inputDate(taskForm("pass"), '_label ->"期限")
        <input type="submit" value="Create" />
    }






	これまでに作ったタスクの数 @taskList.size です。
    @if(taskList.isEmpty()) {
        Task は一件もありません
    } else {
       <ul>
       @for(task <- taskList) {
           <li>@task.name</li>
       }
       </ul>
    }
}